* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
}


.logo {
    cursor: pointer;
    width: 185px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    padding: 20px 25px;
}

.link {
    text-decoration: none;
    color: #2F281E;
    font-family: Poppins, sans-serif;
}

.signinbutton {
    color: #173A56;
    background-color:white;
    border: 1px solid #BCD0E5;
    display:inline-block;
    cursor:pointer;
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight:600;
    padding:11px 23px;
    text-decoration:none;
    transition: all .3s ease 0s;

}
.signinbutton:hover {
    background-color:#FF9900;
}
.signinbutton:active {
    position:relative;
    top:1px;
}

.signupbutton {
    color: white;
    background-color:#FF9900;
    border: 1px solid #BCD0E5;
    display:inline-block;
    cursor:pointer;
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight:600;
    padding:11px 23px;
    text-decoration:none;
    transition: all .3s ease 0s;

}
.signupbutton:hover {
    background-color:white;
    color: #173A56;

}
.signupbutton:active {
    position:relative;
    top:1px;
}

.container {
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
}

.hero-title {
    font-size: 44px;
    line-height: 80px;
    padding-bottom: 35px;
}